@charset "UTF-8";

.woocommerce .quantity .qty {
    width: 15em;
}

.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
	float: none;
}

.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
	width: inherit;
}